@use "./variables" as *;

.cookies_container {
position: fixed;
padding: 2rem;
bottom: 2rem;
left: 2rem;
height: 20rem;
width:fit-content;
border: 2px solid $main-green;
background: $orange;
z-index: 10;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
gap: 2rem;
border-radius: 3px;

.cookies_btn {
    width: 15rem;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 1rem;
    margin: 0;
   
}
.cookies_btn_white {
    width: 15rem;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 1rem;
    margin: 0;
    background: $white;
    &:hover {
        background: rgba($white, .8);
    }
}

}
