# Fejlesztői sqlite adatbázis a Prisma schema mellé.
DATABASE_URL="file:./dev.db"

# NextAuth beállítások.
# Productionben a NEXTAUTH_URL a valódi domain legyen.
NEXTAUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST=true
NEXTAUTH_SECRET="csereld-egy-hosszu-veletlen-titokra"
